<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengx1ao.mapper.AdvertiserInfoMapper">
  <select id="findByName" resultType="com.shengx1ao.entity.AdvertiserInfo">
    select * from advertiser_info where 1=1
    <if test="name!=null and name!='all' and name!=''">
      and `name`like concat('%',#{name},'%')
    </if>
    order by `time` desc
  </select>
</mapper>